{% extends "base.html" %}

{% block content %}
    <div class="row">
        <h3>Signup</h3>
        <hr/>
        <form class="form-horizontal ajax-form" id="signup" role="form" action="{% url 'api:rest_register' %}" data-redirect-to="{% url 'home' %}">
            {% include 'fragments/form-input.html' with name="email" label="Email" type="text" %}
            {% include 'fragments/form-input.html' with name="username" label="Username" type="text" %}
            {% include 'fragments/form-input.html' with name="password1" label="Password" type="password" %}
            {% include 'fragments/form-input.html' with name="password2" label="Repeat password" type="password" %}

            {% include 'fragments/form-button.html' with label="Sign up" %}

            <div class="form-group api-response"></div>
        </form>
    </div>
{% endblock %}
